<%= erb :_header %><!-- Have list of decks

-English-to-other-language dictionaries. Try these.
-US state capitals
-World capitals
-Historical events

Pick deck leads to start of round -->
<div class="container">
  <br>
  <br>
  <form action="/startround" method="get">
    <input id="start" type="submit", value="Start Game!">
  </form>
</div>

